*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #ededee;
}
/* ********************************************************************************************* 类公文模板 */
header{
    background-color: rgb(8, 7, 114);
    width: 100%;
    height: 110px;
    font-size: 50px;
    font-weight:900;
    color: #fefefe;
    text-align: center;
}
header p{
    transform: translateY(20px);
}
.beijing{
    
}


#zhengwen{
    box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.11);
    background-color: #fefefe;
    height:100%;
    min-height: 800px;
    width: 60%;
    min-width: 500px;
    
    margin-left: auto;
    margin-right: auto;
}

/* ********************************************************************************************* 简洁居中模板 */
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 25px;
}
h1,h2,h3{
    border-bottom: 1px solid rgba(177, 171, 171, 0.479);
    padding-bottom: 10px;
}
p{
    padding-bottom: 20px;
    padding-top: 15px;
}
ul{
    padding-left: 40px;
    li{
        padding-bottom: 10px;
    }
}
#lianxi{
    color: #055a7c;
    text-decoration: none;
}
#lianxi:hover{
    text-decoration:underline;
}

.zhuti_waiceng{
    position: absolute;
    width: 100%;
    height: 100%;
}
.zhuti{
    position: relative;
    margin:0 auto;

    width: 70%;
    height: 100%;
    padding: 30px;
}
button{
    position: relative;
    display: inline-block;
    background-color: #055a7c;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border:none;
    


    img{
        position: relative;
        width: 30px;
        transform: rotate(225deg);
        top: 5px;
    }
    p{
        position: relative;
        top:-15px
    }
    cursor: pointer;
    
}


/* ********************************************************************************************* 伪组件 */
#jump{
    position: fixed;
    
    width: 100px;
    height: 50px;
}